
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}


:root{
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

}

a{
    text-decoration: none;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px; 
}

.navlinks{
   display: flex;
   gap: 30px; 
}

.navlinks a {
    color: var(--Grayish-Blue);
}

.toggler{
    display: none;
}

.request-invite a{
    color: white;
    padding: 7px 16px;
    background: linear-gradient(to right, var(--Lime-Green),var(--Bright-Cyan));
    border-radius: 20px;
}

#hero{
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 60px;
}

#hero div{

    width: 40%;
}

#hero div h1{
    font-size: 60px;
    font-weight: 300;
    color: var(--Dark-Blue);
}

#hero div p{
    margin: 30px 0px;
    color: var(--Dark-Blue);
    line-height: 25px;
}

.phones{
    width: 30%;
}

#hero div a{
    color: white;
    padding: 7px 16px;
    background: linear-gradient(to right, var(--Lime-Green),var(--Bright-Cyan));
    border-radius: 20px;
}

#write {
    padding:  60px;
    background-color: var(--Light-Grayish-Blue);

}

.writeheader {
 width: 55%;
 margin-bottom: 30px;
}

#write div h1{
    font-size: 50px;
    font-weight: 300;
    color: var(--Dark-Blue);
    padding: 10px 0;    
}

#write div p{
    /* margin: 20px 0px; */
    color: var(--Dark-Blue);
    line-height: 25px;
    padding: 10px 0px;
}   



#gridarea, .blogdiv {
display: grid;
gap: 30px;
grid-template-columns: repeat(4, 1fr);
}


#gridarea div{
    /* background-color: red; */
    padding: 20px;
}

#gridarea h4{
    margin: 7px 0 10px;
}


  
#blog {
    padding: 60px;
}

#blog h1{
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: var(--Dark-Blue);
}

.blogcontent {
    width: 95%;
    padding-bottom: 10px;
    box-shadow: 3px 3px 10px var(--Grayish-Blue);
    /* background-color: red; */
}


.blogdiv img {
    width: 100%;
}

.currencyimage{
    height: 48%;
}
.blogdiv h4{
    margin: 10px 0;
}

.content{
    margin: 10px;
}

.content p:first-child{
    font-size: 12px;
}

.content p:last-child{
    font-size: 14px;
}
.content h4{
    font-weight: 600;
}
.content h4:hover{
    color: var(--Lime-Green);
    cursor: pointer;
}

#footer {
    background-color: var(--Dark-Blue);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;  
}

.footerlinks, .footerlinks2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerlinks a, .footerlinks2 a{
    color: var(--Grayish-Blue);
}


@media screen and (max-width:992px) {

    #hero div h1{
        font-size: 40px;
    }

    .blogcontent {
        padding-bottom: 30px;
        width: 70%;
    }

    
#gridarea, .blogdiv {
  
    grid-template-columns: repeat(2, 1fr);
    }

    .currencyimage{
        height: 60%;
    }
}

@media screen and (max-width:768px) {
    #hero div h1,   #write div h1{
        font-size: 30px;
    }

    .phones{
        width: 40%;
    }
    #hero div p, #write div p{
       font-size: 14px;
    }
    
}

@media screen and (max-width:576px) {
    .navlinks{
        position: absolute; 
        background-color: black;
        width: 50%;
        flex-direction: column;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;
        top: -30%;
        padding: 20px 0;
        transition: .5s;

     }
     .request-invite{
         display: none;
     }
    #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; 
    gap: 40px;
    }

    .request-invite a{
        border-radius: 20px;
        padding: 5px 20px;
    }
    .toggler{
        display: block;
    }
    .ri-close-fill{
        display: none;
    }

    #hero{
        flex-direction: column-reverse;  
    }
    .phones {
        width: 80%;
    }
    #hero div{
        width: 80%;
        text-align: center;
    }

    #gridarea, .blogdiv {
  
        grid-template-columns: 1fr;
        text-align: center;
        }
}
